altgraph==0.17.3
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
html5lib==1.1
idna==3.4
macholib==1.16.2
mechanize==0.4.8
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
urllib3==2.0.4
webencodings==0.5.1
